/* Ensure the container takes up the full viewport height and centers the content */
.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 0rem 2rem 0rem;
  width: 100vw;
  margin: 0;
}

/* Styling for the recommendation card */
.recommendation-card {
  max-width: 800px;
  margin: 0 4rem;
  background-color: #1e1e1e; /* Slightly lighter for contrast */
  color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.3), 0 0 10px rgba(255, 0, 0, 0.2); /* Softer shadow with subtle glow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px dotted #e50914; /* Netflix red border */
}

.recommendation-card:hover {
  transform: scale(1.03); /* Slight zoom on hover */
  box-shadow: 0 12px 30px rgba(255, 0, 0, 0.5), 0 0 15px rgba(255, 0, 0, 0.4); /* Enhanced shadow on hover */
}

@media (max-width: 900px) {
  .recommendation-card {
    width: 100%;
  }
}

.centered-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-pic {
  margin-right: 20px;
  margin-bottom: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #e50914; /* Netflix red border */
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text h3,
.header-text p {
  text-align: center;
}

.header-text h3 {
  font-size: 1.5rem;
  color: #e50914; /* Netflix red for name */
  margin: 0;
}

.header-text p {
  margin: 3px 0;
  font-size: 0.9rem;
  color: #999;
}

.date {
  color: #ccc;
  font-size: 0.8rem;
}

.recommendation-body {
  font-size: 1rem;
  line-height: 1.6;
}

.recommendation-body p {
  margin-bottom: 15px;
}

.recommendation-body strong {
  color: #e50914; /* Highlighted text in Netflix red */
}

.recommendation-body p:first-of-type {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 20px;
}
